{% extends 'site-pytradebot/base/base_login.html' %}
{% load static %}

{% block title %}Redefinir senha{% endblock %}

{% block header %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet" integrity="sha384-R+hE75lzVEbCCMXAol2DJWT4oS3HbiOLzbm9xSQVCd2F0dQoqYULWOqm0CcZOD3X" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="sidenav">
   <div class="login-main-text">
      <h2>Redefinir Senha</h2>
   </div>
</div>
<div class="main">
   <div class="container-fluid mb-5">
      <div class="col-md-6 col-sm-12">
         <div class="login-form">
            <form name="{{ form.form_name }}" id="login" action="." method="post" data-parsley-validate>
            {% csrf_token %}
               {% for field in form %}
                  <div class="form-group">
                     {{ field.label_tag }}
                     {{ field }}
                     {{ field.errors }}
                  </div>
               {% endfor %}
               {{ form.non_field_errors }}
               <button id="form-submit" type="submit" class="button">Atualizar</button>
               <button type="button" class="button btn-link-js" data-url="{% url 'painelcontrole' %}">Cancelar</button>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'parsley/parsley.min.js' %}" integrity="sha384-JUOh6kjFo/adXnDgqD2bUZ5UnBiU82g4ou4bPgzsX4L8ajKYoW5lGrMSXBLskjK+" crossorigin="anonymous"></script>
<script src="{% static 'parsley/i18n/pt-br.js' %}" integrity="sha384-Art5n0YDAI7kJGolNQH34PnZ99Z0dCKhHLprBAMR0/TGNcGyZqMfmgYmEOyW+f8P" crossorigin="anonymous"></script>
<script src="{% static 'js/funcoes.js' %}" integrity="sha384-YomlE5eL7qsat6qtHONaoxzyAafAs6wfvS8CZrH60vXQdvEglmXSGtti0dbwfP9f" crossorigin="anonymous"></script>
<script src="{% static 'ajax/config.js' %}" integrity="sha384-1pljO3Kc4KuZTuZR6SW2Fwg99qvUR/eaKoBeeb4keedIhEjZs9yeFnX98G+1hS8M" crossorigin="anonymous"></script>
{% endblock %}
