{% extends 'site-pytradebot/base/base_sistema.html' %}
{% load static %}

{% block title %}Lista de Estratégia(s){% endblock %}

{% block content %}
<!-- Corpo -->
<!-- Tables -->
<section class="tables mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Lista de Estratégia(s)</h2>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered w-auto">
            <thead class="thead-light">
              <tr>
                <th class="text-center text-justify" scope="col">Nome</th>
                <th class="text-center text-justify" scope="col">Template</th>
              </tr>
            </thead>
            <tbody>
              {% for estrategia in estrategias %}
              <tr>
                <td class="text-center text-justify" scope="row">{{ estrategia.nome }}</td>
                <td class="text-center text-justify">{{ estrategia.template }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
