{% extends 'site-pytradebot/base/base_sistema.html' %}
{% load static %}

{% block title %}Visualizar Gráficos{% endblock %}

{% block header %}
<link href="{% static 'css/tradingview.css' %}" rel="stylesheet" integrity="sha384-goR9HzmT8sC1fd4SRZgJ3lPx5ScRk5pxlKEVT29VXVr3wH+KZ0PEHhPVlJDOH7UQ" crossorigin="anonymous">
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="page-heading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Gráficos</h1>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" nonce="{{nonce}}" async>
            {
              "symbols": [
                {
                  "description": "Bitcoin - BRL",
                  "proName": "MERCADO:BTCBRL"
                },
                {
                  "description": "Bitcoin - USD",
                  "proName": "BINANCE:BTCUSDT"
                },
                {
                  "description": "Dominância BTC",
                  "proName": "CRYPTOCAP:BTC.D"
                },
                {
                  "description": "Ethereum - BTC",
                  "proName": "BINANCE:ETHBTC"
                },
                {
                  "description": "Dominância ETH",
                  "proName": "CRYPTOCAP:ETH.D"
                },
                {
                  "description": "Ripple - BTC",
                  "proName": "BINANCE:XRPBTC"
                },
                {
                  "description": "Tron - BTC",
                  "proName": "BINANCE:TRXBTC"
                },
                {
                  "description": "Binance Coin - BTC",
                  "proName": "BINANCE:BNBBTC"
                },
                {
                  "description": "ChainLink - BTC",
                  "proName": "BINANCE:LINKBTC"
                },
                {
                  "description": "Bitcoin Cash - BTC",
                  "proName": "BINANCE:BCHABCBTC"
                },
                {
                  "description": "Cardano - BTC",
                  "proName": "BINANCE:ADABTC"
                },
                {
                  "description": "Litecoin - BTC",
                  "proName": "BINANCE:LTCBTC"
                }
              ],
              "colorTheme": "dark",
              "isTransparent": false,
              "displayMode": "adaptive",
              "locale": "br"
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
  </div>
</div>

<!-- Corpo -->
<section class="forms mt-3">
  <div class="container-fluid">
    <div id="col-widget-grafico" class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_c2af7"></div>
        <script src="https://s3.tradingview.com/tv.js" nonce="{{nonce}}"></script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
</section>

<!-- Corpo -->
<section class="forms mt-3">
  <div class="container-fluid">
    <div id="col-widget-dados" class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" nonce="{{nonce}}" async>
          {
            "width": "100%",
            "height": "100%",
            "defaultColumn": "moving_averages",
            "screener_type": "crypto_mkt",
            "displayCurrency": "BTC",
            "colorTheme": "light",
            "locale": "br"
          }
          </script>
        </div>
        <!-- TradingView Widget END -->
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/tradingview-config.js' %}" integrity="sha384-pjJFxNNbDdbhML9ebjIc+ICXgediCbFSKJpd69nptD5TaQxRfWuynsQbEejq7W29" crossorigin="anonymous"></script>
{% endblock %}