{% extends 'site-pytradebot/base/base_index.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="PyTradeBot é um sistema de automação de investimentos em criptomoedas. Realize seus investimentos do seu jeito." />
{% endblock %}

{% block title %}PyTradeBot - Automação de investimentos em criptomoedas{% endblock %}

{% block content %}
<!-- Banner -->
<section class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-6">
        <div class="banner-content">
          <div class="row">
            <div class="col-md-12 col-xs-6">
              <div class="banner-caption text-justify">
                <p class="h3 text-dark font-weight-bold">Seja Bem-vindo ao <em>PyTradeBot</em>.</p>
                <span>Sistema automático de compra e venda de criptomoedas</span>
                <p>Nós do <strong>PyTradeBot</strong> encontramos a necessidade de diversas pessoas com dificuldade de acompanhar o mercado de <strong>criptomoedas</strong>, assim decidimos facilitar e automatizar suas transações a partir de nossas ferramentas.</p>
                <div class="primary-button">
                  <a href="{% url 'quemsomos' %}" target="self">Quem Somos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Top Image -->
<section class="top-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <img src="{% static 'images/criptomoedas.jpg' %}" alt="Criptomoedas">
        <div class="down-content text-justify">
          <h4>Criptomoedas</h4>
          <p>As criptomoedas surgiram para revolucionar o sistema financeiro, sendo que a primeira moeda digital a ser criada foi a nomeada como Bitcoin, que surgiu em 2008 através de um artigo intitulado “Bitcoin: A Peer-to-Peer Electronic Cash System” , 
publicado pelo Satoshi Nakamoto. Segundo Nakamoto na época de 2008 o mundo estava em crise financeira, mas havia uma grande evolução tecnológica e com isso se podia reformular o modo da economia tradicional para a digital,
gerando uma grande revolução na economia. As instituições financeiras como intermediárias em processos transacionais de moedas, tornava as operações financeiras com custos elevados, onde cada operação gerava um custo para os clientes. </p>
          <div class="primary-button">
            <a href="https://bitcoin.org/bitcoin.pdf" target="_blank" rel="nofollow">Leia Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Left Image -->
<section class="left-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'images/transacao.jpg' %}" alt="Transações">
      </div>
      <div class="col-md-6">
        <div class="right-content text-justify">
          <h4>Transações Financeiras</h4>
          <p>Uma transação financeira é um evento contratual de compra e/ou de venda, para transacionar um ativo contra um pagamento. Em regra geral, 
destina-se a utilizar um capital disponível ou suscetível de ser mobilizado, 
com a perspectiva de obter um ganho monetário ou, inversamente, de saldar uma operação anterior.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Right Image -->
<section class="right-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="left-content text-justify">
          <h4>Gráficos de criptomoedas</h4>
          <p>Nossa plataforma possui gráficos das atuais criptomoedas do mercado, através de <a href="https://br.tradingview.com/widget/" target="_blank">Widgets</a> do <a href="https://br.tradingview.com/" target="_blank">TradingView</a>.</p>
        </div>
      </div>
      <div class="col-md-6">
        <a href="{% url 'index_graficos' %}" target="_self"><img src="{% static 'images/tradingview.png' %}" alt="TradingView"></a>
        <div class="primary-button">
          <a href="{% url 'index_graficos' %}" target="_self">Visualizar Gráficos</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}