{% extends 'site-pytradebot/base/base_sistema.html' %}
{% load static %}

{% block title %}Histórico de transações{% endblock %}

{% block content %}

<div id="ajax-historico-transacoes" data-url="{% url 'ajax_historico_transacoes' %}">
    {% include 'site-pytradebot/ajax_update/transacaohistorico.html' %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'ajax/transacaohistorico.js' %}" integrity="sha384-7p0UYi6yWEnORuPR6VmqPY24Y7/JryN/ycGHrKA9GJKfYy8D6mDpw60VNSVwfiwb" crossorigin="anonymous"></script>
{% endblock %}
            